.heroText{
    margin: 10vh 50vw 2vh 10vw;
}

.projectNavigation{
    margin: 1vh 10vw 2vh 10vw;
    display: flex;
    gap:20px;
}

@media (max-width: 768px) {
    .heroText{
        margin: 5vh 1vw 2vh 1vw;
    }
    .projectNavigation{
        margin: 1vh 1vw 2vh 1vw;
        display: flex;
        gap:12px;
    }
}